<head>	
	<link rel="stylesheet" href="/styles.css">
</head>
<body style="background-color: #555">
	<h1 style="text-align: center;color: #DDD">Just your typical 404 error page...</h1>
	<main class="alert-box round-corner">
		<p>We tried to shoot something your way, though our sensors could not detect its presence. We'll try again when technology becomes sufficiently advanced enough to produce it <i>ex nihilo</i>. (It's quite likely we'll be able to take care of it well before then, though.)</p>
		<p>In the meantime, why not <a href="/dashboard">go back home</a>?</p>
	</main>
</body>