append content
  #ticket-dialog.modal
    .modal-content.round-corner.box-shadow
      form#ticketForm(action="/tickets/" method="post")
        h2 Create ticket
        if cautionMsg != null
          .warning-box.round-corner #{cautionMsg}
        ul
          li.open-sans.bold-weight
            label(for="title") Summary
            input(
              type="text"
              id="title"
              name="title"
              required
            )
          li.open-sans.bold-weight
            label(for="description") Description
            textarea(
              id="description"
              name="description"
              cols="20"
            )
          li.open-sans.bold-weight
            label(for="type") Ticket type
            select(
              type="text"
              id="type"
              name="type"
            )
              each type in typeList
                option #{type}
          li.open-sans.bold-weight
            label(for="assignedTo") Assign to
            select(
              type="text"
              id="assignedTo"
              name="assignedTo"
            )
              option None
                each user in userList
                  //- TODO: remove condition before placing in production
                  - if (user.name !== undefined)
                    option #{user.name}
          li.open-sans.bold-weight
            label(for="priority") Priority
            select(
              type="text"
              id="priority"
              name="priority"
            )
              each priority in priorityList
                option #{priority}        
        footer.modal-footer.sticky
          button(type='button' data-close) Cancel
          if cautionMsg === "You are unable to create tickets. Please see your system administrator for details."
            button(type='submit' disabled) Create Ticket
          else 
            button(type='submit') Create Ticket
