doctype html
block head
head
  title Dashboard | MadaMada
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/styles.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:wght@300;400;500&family=Open+Sans:wght@400;600;700&display=swap' rel='stylesheet')
block scripts
  script(defer src='/client.js')
.app-grid
  header.sticky
    img.hamburger-nav-icon(src='/images/hamburger-nav-icon-white.svg' onclick='toggleNav()')
    #leftHeader.header-container.open-sans.bold-weight
      a(href='/dashboard') MadaMada Home (logo)
      a(href='/tickets') Tickets
    #rightHeader.header-container.open-sans.bold-weight
      p #{currentUser}
      a(href='/logout') Logout
  nav
    button(type='button' data-open='ticket-dialog')#newTicket.new-ticket-button.round-corner New Ticket
    ul
      li#navLinks
        a(href='/tickets/recents/-1' title="This link will lead to a 404 page, as the feature is a WIP; this is just to demonstrate routing to such a page") Recently Viewed
        a(href='/tickets/newest/-1') Newest Tickets

  include createTicketModal.pug
  include gridItem-mixin.pug
  main.fade-in
    block content
      if failureMessage != null
        .center-box-top.warning-box.round-corner 
          img.close-button(src='/images/close-button.svg' onclick="clearNotification()")
          p #{failureMessage}

      h1 Dashboard
      p
        | This is your home page, where you may get a bird&apos;s-eye view of your company&apos;s current issues and other pieces of timely information. Here are several areas presented to that end.
      
      section.dashboard-grid                
        +gridItem("The Fellowship (Users)")
          table#userTable
            thead
              tr
                th(scope='col' onclick='sortTable(0, "userTable")') Name
                th(scope='col' onclick='sortTable(2, "userTable")') email
            tbody
              if (currentUserRole != "viewer")
                each user in userList
                  tr
                    td #{user.name}
                    td 
                      a(href="mailto:" + user.email) #{user.email}
              else 
                tr
                  td Samwise Gamgee
                  td sam@madamada.com
                tr
                  td Frodo Baggins
                  td frodo@madamada.com
                tr
                  td Gandalf
                  td gandalf@madamada.com

        +gridItem("Newest Tickets")
          //- TODO: sort data in table below
          table#recentTickets
            thead
              th(scope='col' onclick='sortTable(0, "recentTickets")') Title
              th(scope='col' onclick='sortTable(1, "recentTickets")') Status
            each ticket in ticketList
              - let ticketDate = new Date(ticket.creationDate);
              - let formattedDate = ticketDate.getUTCMonth() + 1 + "/" + ticketDate.getUTCDate() + "/" + ticketDate.getUTCFullYear() + " at " + (ticketDate.getUTCHours() < 10 ? "0" + ticketDate.getUTCHours() : ticketDate.getUTCHours()) + ":" + (ticketDate.getUTCMinutes() < 10 ? "0" + ticketDate.getUTCMinutes() : ticketDate.getUTCMinutes())
              tr
                td 
                  a(href='/tickets/' + ticket._id) #{ticket.title}
                td #{ticket.status}
  //- footer Free and open source software -- made with #{'\u2764'} and hosted on #[a(href='https://gitlab.com/bbroussard/issue-tracker/-/tree/master') Gitlab]
