head
append head
  title Login | MadaMada
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/styles.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:wght@300;400;500&family=Open+Sans:wght@400;600;700&display=swap' rel='stylesheet')
block scripts
  script(defer src='/client.js')

block content
  img(src="https://images3.alphacoders.com/174/17497.png").overflow-hidden.center-crop
  
  if notificationMessage != null
    .center-box.notification-box.round-corner
      img.close-button(src='/images/close-button.svg' onclick="clearNotification()")
      p #{notificationMessage}

  .center-box.gray-box.box-shadow.round-corner
    if currentUser
      h4 You are logged in as #{currentUser}.

      .center-align
        a(href="/dashboard").demo-button.round-corner Go to Dashboard
        a(href="/logout").demo-button.round-corner Log out

    if !currentUser
      .login-area
        h2 Login to MadaMada

        h4 Please enter your credentials to proceed.
      
        if failureMessage != null
          .center-box-top.warning-box.round-corner 
            img.close-button(src='/images/close-button.svg' onclick="clearNotification()")
            p #{failureMessage}

      
        block login
          form(id="login" action="/login" method="post")
            label(for="username") Email
            input(type="email" id="username" name="username" required)
            label(for="password") Password
            input(type="password" id="password" name="password" required)
            button(alt="Login").round-corner Login

        hr
        h4 Alternatively, you may run the application in Demo Mode with all roles at your disposal.

        button(onclick="showDemoView()").demo-button.round-corner.center-align Login as a Demo User

    block demo
      .demo-roles-area
        h2 Demo MadaMada
        h4 Choose a role below to preview the application as a user bearing that role.

        .center-align
          button(onclick="loginAsViewer()").demo-button.box-shadow.round-corner.center-align.demo-viewer Viewer
          button(onclick="loginAsContributor()").demo-button.box-shadow.round-corner.center-align.demo-contributor Contributor
          button(onclick="loginAsManager()").demo-button.box-shadow.round-corner.center-align.demo-manager Manager
          button(onclick="loginAsAdmin()").demo-button.box-shadow.round-corner.center-align.demo-admin Admin

        button(onclick="showLoginForm()").demo-button.round-corner Login Using Account