extends dashboard

append head
  title #{ticket.title} | MadaMada

block content
  .ticket-header
    h2#ticket-title #{ticket.title}
    if currentUserRole === "admin"
      .delete-button.round-corner.box-shadow(title='This button\'s functionality is incomplete, though it remains accessible only to users with the "admin" role.' onclick='deleteTicket()' alt='Delete ticket button') Delete ticket

  h3 Description
  
  //- displays user-provided description as user intended
  - let description = ticket.description.split("\n");
  - for (let i = 0; i < description.length; i++)
    p #{description[i]}

  h3.fade-in Details
    .list-box.round-corner.box-shadow
      p.
        #[strong Created by]: #{ticket.creator || "an anonymous user"}
      hr
      p.
        #[strong Assigned to]: #{ticket.assignee}
      hr  
      p.
        #[strong Status]: #{ticket.status}
      hr
      p.
        #[strong Priority]: #{ticket.priority}
      hr
      p.
        #[strong Type]: #{ticket.type}

  h2.fade-in Comments
    p.center-text (#[em This section and its functionality are currently works in progress...])