extends dashboard

append head
  title Tickets | MadaMada

block content
  h1 Tickets
  table#ticketTable.round-corner.thin-border.box-shadow
    thead
      th(scope='col' onclick='sortTable(0, "ticketTable")') Priority
      th(scope='col' onclick='sortTable(1, "ticketTable")') Title
      th(scope='col' onclick='sortTable(2, "ticketTable")') Creator
      th(scope='col' onclick='sortTable(3, "ticketTable")') Assigned to
      th(scope='col' onclick='sortTable(4, "ticketTable")') Type
      th(scope='col' onclick='sortTable(5, "ticketTable")') Status
      th(scope='col' onclick='sortTable(6, "ticketTable")') Creation date

    each ticket in ticketList
      - let ticketDate = new Date(ticket.creationDate);
      - let formattedDate = ticketDate.getUTCMonth() + 1 + "/" + ticketDate.getUTCDate() + "/" + ticketDate.getUTCFullYear() + " at " + (ticketDate.getUTCHours() < 10 ? "0" + ticketDate.getUTCHours() : ticketDate.getUTCHours()) + ":" + (ticketDate.getUTCMinutes() < 10 ? "0" + ticketDate.getUTCMinutes() : ticketDate.getUTCMinutes())
      tr
        td #{ticket.priority}
        td 
          a(href='/tickets/' + ticket._id) #{ticket.title}
        td #{ticket.creator}
        td #{ticket.assignee}
        td #{ticket.type}
        td #{ticket.status}
        td #{formattedDate}
