:root {
	--dark-blue: rgba(40, 70, 85, 1);
	--forest-green: rgba(40, 80, 55, 1);
	--sea-foam: rgba(157, 205, 175, 1);
	--gold: rgba(260, 185, 20, 0.9);
	--straw: rgba(235, 200, 125, 0.7);
	--red: rgba(200, 10, 10, 0.5);
	--gray-1: rgba(235, 235, 235, 0.7);
	--gray-2: rgba(225, 225, 225, 1);
	--gray-3: rgba(205, 205, 205, 1);
	--gray-4: rgba(185, 185, 185, 1);
	--gray-5: rgba(5, 5, 5, 0.5);
	--transparent-black: rgba(0, 0, 0, 0.1);
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	background-color: var(--gray-2);
}

h1 {
	margin: 0 auto .5em;
	font-family: 'Roboto Slab', serif;
	font-size: 2.5em;
	font-weight: 500;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.74em;
	font-weight: 400;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.22em;
	font-weight: 400;
	line-height: 1.6rem;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.05em;
	font-weight: 400;
}

.comment-box h6 {
	margin: 1rem .25rem .75rem;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

[contenteditable] {
	outline: 1px solid #aaa;
	border-radius: 2px;
	background-color: #ddd;
	padding: 1px 2px;
}

.round-corner {
	border-radius: 7px;
}

.sticky {
	position: sticky;
}

.fixed {
	position: fixed;
}

.center-text {
	text-align: center;
}

.center-align {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-crop {
	object-fit: cover;
	object-position: center;
	width: 100vw;
	height: 100vh;
}

.center-crop img {
	margin: 0 -21.875%;
}

.error-notification {
	padding: .7em 1em;
	background-color: red;
}

.box-shadow {
	box-shadow: 0 5px 5px var(--transparent-black);
	transition: box-shadow .15s ease-in;
}

.box-shadow:hover {
	box-shadow: 0 4px 12px var(--transparent-black);
}

.thin-border {
	border: .1em solid var(--gray-3);
}

.list-box {
	margin: 10px 5%;
	padding: 10px 5%;
	max-width: 500px;
	background-color: var(--sea-foam);
}

.center-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.center-box-top {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.alert-box {
	margin: 10px 22%;
	padding: .2em 2%;
	border: .1em solid rgba(35, 10, 10, 0.5);
	background-color: var(--straw);
	text-align: center;
}

.warning-box {
	padding: .2em 10%;
	position: relative;
	top: 25px;
	margin: 1.5em 0 0;
	color: #EEEEEE;
	font-family: 'Open Sans', sans-serif;
	border: .1em solid rgba(35, 10, 10, 0.1);
	background-color: var(--red);
	text-align: center;
}

#ticket-form > .warning-box {
	top: 0;
	margin: 1.5em 1em 0;
}

.notification-box {
	top: 8%;
	padding: .2em 4%;
	border: .1em solid rgba(35, 10, 10, 0.5);
	background-color: var(--forest-green);
	color: var(--gray-1);
	text-align: center;
}

.close-button {
	position: absolute;
	top: 2%;
	right: 1%;
	cursor: pointer;
}

.gray-box {
	background-color: var(--gray-1);
	padding: 1.2rem 1rem;
	max-width: 585px;
	border: 1px solid var(--gray-5);
}

.comment-box {
	/*border: 1px solid var(--gray-5);
	border-radius: 12px;*/
}

.comment-1 {
	padding: .5rem .75rem;
	margin: 5px 0 10px;
	border-bottom: 1px solid var(--gray-5);
	border-radius: 12px;
	background-color: var(--gray-1);
}

.comment-2 {
	padding: .5rem .75rem;
	margin-left: 2rem;
	border: 1px solid var(--gray-5);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: var(--gray-2);
}

.comment-3 {
	padding: .5rem .75rem;
	margin-left: 4rem;
	border-bottom: 1px solid var(--gray-5);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: var(--gray-3);
}

.login-background {
	opacity: 0;
}

.login-area {
	display: block;
	visibility: visible;
	opacity: 1;
}

.demo-roles-area {
	display: none;
	visibility: hidden;
}

.demo-button {
	display: inline-block;
	padding: .5em 1.5em;
	margin-top: 1.2em;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	background-image: linear-gradient(rgba(20, 170, 180, 0.5), rgba(20, 170, 180, 0.9));
}

.demo-viewer {
	padding: .8em 2em;
	margin-top: 1em;
	width: 90%;
	font-size: 20px;
	background-image: linear-gradient(rgba(40, 170, 100, 0.5), rgba(40, 170, 100, 0.9));
}

.demo-contributor {
	padding: .8em 2em;
	margin: 1em 0 .5em;
	width: 90%;
	font-size: 20px;
	background-image: linear-gradient(rgba(150, 120, 20, 0.5), rgba(150, 120, 20, 0.9));
}

.demo-manager {
	padding: .8em 2em;
	margin: .5em 0 .5em;
	width: 90%;
	font-size: 20px;
	background-image: linear-gradient(rgba(190, 80, 20, 0.5), rgba(190, 80, 20, 0.9));
}

.demo-admin {
	padding: .8em 2em;
	margin: .5em 0 1em;
	width: 90%;
	font-size: 20px;
	background-image: linear-gradient(rgba(220, 40, 10, 0.5), rgba(220, 40, 10, 0.8));
}

.ticket-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.new-ticket-button {
	display: block;
	padding: .5em 25%;
	margin-left: 1.5em;
	border: 0; 
	cursor: pointer;
	background-color: rgba(260, 260, 260, 0.4);
	background-image: linear-gradient(rgba(20, 170, 180, 0.5), rgba(20, 170, 180, 0.8));
	/*transition: background .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out;*/
}

.new-ticket-button:hover {
	background-color: rgba(260, 260, 260, 0.8);
}

.new-ticket-button:active {
	background-color: rgba(260, 260, 260, 0.2);
}

.delete-button,
.edit-button {
	color: #EEEEEE;
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	font-weight: 700;
	padding: .5em 1em;
	margin-left: 1.5em;
	border: 0; 
	cursor: pointer;
	background-color: rgba(260, 260, 260, 0.4);
	background-image: linear-gradient(rgba(230, 20, 10, 1), rgba(195, 20, 10, 1));
	transition: background .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out;
}

.edit-button {
	background-image: linear-gradient(rgba(20, 160, 230, 1), rgba(10, 150, 195, 1));
}

.delete-button:hover {
	background-color: rgba(260, 260, 260, calc(.4 * 2));
}

.delete-button:active {
	background-color: rgba(260, 260, 260, calc(.4 / 2));
}

.hamburger-nav-icon {
	display: none;
	cursor: pointer;
}

nav a, header a {
	display: block;
	text-decoration: none;
	color: var(--gold);
	margin: 1em;
}

.overflow-hidden {
	overflow: hidden;
}

.app-grid {
	display: grid;
	grid-template-columns: 13em repeat(2, 1fr);
	grid-template-rows: 3em repeat(2, 1fr);
	grid-template-areas:
		"a a a a"
		"b c c d"
		"b c c d";
	width: 100vw;
	min-height: 100vh;
	min-width: 767px;
	margin: 0;
}

.dashboard-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: min-content;
	max-width: 1000px;
}

.block {
	display: block;
}

header {
	grid-area: a;
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 0 .5em;
	max-width: 100vw;
	z-index: 20;
	color: var(--straw);
	background-color: var(--forest-green);
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.header-container {
	display: flex;
	align-items: center;
}

.form-container {
	display: flex;
	align-items: flex-start;
	padding: .5em 0;
}

.form-container > textarea {
	margin: 0 .5em .5em 0;
	padding: .5em;
}

header a {
	margin: 0 1em;
	padding: .8em 0 .8em;
}

nav {
	grid-area: b;
	position: relative;
	padding: 2em 2em 0 0;
	color: rgba(255, 255, 255, 1);
	z-index: 10;
	background-color: var(--dark-blue);
}

main {
	grid-area: c;
	padding: 1em;
	margin-top: 1.5em;
	background-color: var(--gray-2);
}

aside {
	grid-area: d;
	position: relative;
	padding: 2em 2em 0 0;
	min-width: 250px;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
	font-size: .95em;
	font-weight: 300;
}

.bold-weight {
	font-weight: 600;
}

table {
	border: 0 solid var(--transparent-black);
	border-collapse: collapse;
	overflow: scroll;
	font-family: 'Open Sans', sans-serif;
	font-size: .95em;
	font-weight: 400;
	max-width: 65vw;
	margin: 1.5em 5%;
}

.account-area {
	position: absolute;
	top: 0;
	right: 0;
	align-content: right;
}

.modal {
	display: flex;
	visibility: hidden;
	position: fixed;
	overflow: auto;
	z-index: 30;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	position: relative;
	max-width: 600px;
	overflow: auto;
	background-color: var(--gray-2);
	margin: auto;
	transform: scale(.5);
	opacity: 0;
	border: 1px solid #3a3a3a;
	width: 50%;
	height: 70%;
	padding: 1em;
	transition: all .25s ease-out, visibility 0s .25s;
	-webkit-transition: all .25s ease-out, visibility 0s .25s;
}

.is-visible {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.modal-content.is-visible {
	transform: scale(1);
/*	opacity: 1;*/
}

form {
	margin: 0;
}

/*form > * {
	padding: 1em;
}*/

form > div {
	display: flex;
	align-items: start;
	justify-content: space-between;
}

label {
	display: inline-block;
	width: 90px;
	text-align: right;
}

input, 
textarea,
select {
	font: 1em sans-serif;
	border: 1px solid #999;
	width: 75%;
	border-radius: 4px;
	margin: .3em 1em .8em;
	padding: 0;
	outline: none;
	transition: padding 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:focus, textarea:focus, select:focus {
	/*padding: 2px 4px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%), linear-gradient(to bottom, var(--sea-foam) 0%, var(--sea-foam) 100%);
    background-clip: content-box, border-box;*/
}

textarea {
	vertical-align: top;
	font-size: .7em;
}

footer {
	grid-area: d;
	justify-content: flex-end;
	margin-top: 2rem;
	text-align: center;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	background: var(--gray-1);
	z-index: 15;
	bottom: 0;
	right: 0;
	padding: .8em 0;
	width: 100%;
	border-top: 1px solid #3a3a3a;
}

@supports (backdrop-filter: none) {
	.modal-footer, .gray-box {
		backdrop-filter: blur(5px);
	}
}


.modal-footer > button {
	margin-right: .5em;
}

@media (max-width: 868px) {
	table {
		font-size: .7em;
		max-width: 100%;
		margin: 1.9em;
	}

	.modal-content {
		margin: auto;
		width: 80vw;
		height: 60vh;
	}

	.modal-footer {
		position: sticky;
	}
}

@media (max-width: 569px) {
	nav {
		position: absolute;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		width: 100%;
		transform: translateY(-15em);
		transition: .5s ease-in-out, visibility 0s .5s;
		-webkit-transition: .5s ease-in-out, visibility 0s .5s;
	}

	.dashboard-grid {
		display: flex;
		flex-direction: column;
	}

	.show-nav {
		visibility: visible;
		opacity: 1;
		transform: translateY(-3em);
		transition-delay: 0ms;
	}

	.gray-box {
		width: 80%;
	}

	label {
		text-align: left;
	}

	header {
		height: 3em;
		margin: 0 0 3em;
	}

	main {
		padding: .5em 1em;
	}

	table {
		font-size: .7em;
		max-width: 80vw;
		margin: .2em;
	}

	input, select, textarea {
		width: 85%;
		height: 1.5em;
	}

	textarea {
		height: 3.5em;
	}

	.hamburger-nav-icon {
		display: inline-block;
		transform: scale(.75);
	}

	.app-grid {
		display: inline-block;
		padding: 0 0 3.6em;
		min-width: 0px;
	}

	.list-box {
		margin: 1em auto;
	}

	.modal-content {
		margin: auto;
		width: 80vw;
		height: 70%;
		transform-origin: 50% 5%;
	}

	.new-ticket-button {
		margin: auto;
		max-width: 280px;
		padding: .5em 12%;
	}
}

.ticket-details-content {
	display: inline-flex;
	flex-wrap: wrap;
}

select[disabled] {
	appearance: none;
	border: none;
	background-color: rgba(0, 0, 0, 0.0);
	color: black;
	/*overflow: hidden;*/
}

tr {
	color: #111;
	max-height: 1em;
	transition: background 75ms ease-in, color 75ms ease-in-out;
}

tr:nth-child(even) {
	background-color: #DCDCDC;
}

tr:nth-child(odd) {
	background-color: #EEEEEE;
}

th {
	background-color: #8899DD;
	padding: .3em .3em;
	color: #EEE;
	cursor: pointer;
	transition: background .15s;
}

tr:hover {
	background-color: #A9A9A9;
	color: #EEE;
}

th:hover {
	background-color: #99AAEE;
}

td {
	padding: .5em .8em;
}

td > a {
	text-decoration: none;
}

.fade-in {
	animation: .35s fade-in;
	animation-timing-function: cubic-bezier(.1, 1, .9, 1);
	-webkit-animation: .35s cubic-bezier(.1, 1, .9, 1) fade-in;
}

.fade-in-up {
	animation: .35s fade-in-up;
	animation-timing-function: cubic-bezier(.1, 1, .9, 1);
	-webkit-animation: .35s cubic-bezier(.1, 1, .9, 1) fade-in-up;
}

.fade-in-right {
	animation: .35s fade-in-right;
	animation-timing-function: cubic-bezier(.1, .9, .9, .89);
	-webkit-animation: .35s cubic-bezier(.1, .9, .9, .89) fade-in-right;
}

.delay-halfsec {
	animation-delay: .3s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to   {
		opacity: 1;
	}
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translate(0, 25px);
	}
	to   {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fade-in-right {
	from {
		opacity: 0;
		transform: translate(25px, 0);
	}
	to   {
		opacity: 1;
		transform: translate(0, 0);
	}
}